<ion-header>
  <ion-toolbar class="header-background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalog"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="dataCatalog">
      {{ dataCatalog.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="dataCatalog">
  <div style="text-align: right;" class="mb-3">
    <a
      class="btn btn-success text-white"
      (click)="onDownload(dataCatalog.file_address)"
      >ดาวน์โหลด</a
    >
  </div>
  <div class="card mb-3" style="border-color:#b32b2b;">
    <img
      src="https://www.ttpi.co.th/images/catalog/FILE/{{ dataCatalog.img }}"
      class="card-img-top"
      alt="..."
    />
  </div>
</ion-content>
